<h2 mat-dialog-title>{{ action === 'create' ? 'Add Location' : 'Update Location' }}</h2>
<mat-dialog-content>
    <form [formGroup]="formGroup" id="add_location_form" novalidate (ngSubmit)="addlocation()" [ngSwitch]="typeControl.value">

        <mat-form-field>
            <mat-select placeholder="Location type" formControlName="type" required>
                <mat-option value="coordinates">Coordinates</mat-option>
                <mat-option value="zipCode">Zip Code</mat-option>
                <mat-option value="cityName">City name</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngSwitchCase="'coordinates'">
            <input type="number" placeholder="Latitude" matInput formControlName="lat">
            <mat-hint>Value Between -90 And 90</mat-hint>
            <mat-error>
                Please enter valid latitude between -90 and 90
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngSwitchCase="'coordinates'">
            <input type="number" placeholder="Longitude" matInput formControlName="lng">
            <mat-hint>Value Between -180 And 180</mat-hint>
            <mat-error>
                Please enter valid longitude between -180 and 180
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngSwitchCase="'zipCode'">
            <input type="text" placeholder="Zip Code" matInput formControlName="zipCode">
            <mat-hint>Central Paarl's Is 7646</mat-hint>
            <mat-error *ngIf="formGroup.get('zipCode').errors && formGroup.get('zipCode').required">
                Invalid longitude value
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngSwitchCase="'zipCode'">
            <input type="text" placeholder="Country Code" matInput formControlName="countryCode">
            <mat-hint>South Africa's Code Is 'ZA'</mat-hint>
            <mat-error *ngIf="formGroup.get('countryCode').errors && formGroup.get('countryCode').required">
                Invalid longitude value
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngSwitchCase="'cityName'">
            <input type="text" placeholder="City Name" matInput formControlName="cityName">
            <mat-error *ngIf="formGroup.get('cityName').errors && formGroup.get('cityName').required">
                Invalid longitude value
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngSwitchCase="'cityName'">
            <input type="text" placeholder="Country Code" matInput formControlName="countryCode">
            <mat-hint>South Africa's Code Is 'ZA'</mat-hint>
            <mat-error *ngIf="formGroup.get('countryCode').errors && formGroup.get('countryCode').required">
                Invalid longitude value
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions class="actions-right">

    <span *ngIf="formGroup.status === 'VALID'">
        <mat-icon>done</mat-icon>
        Complete!
    </span>
    <span *ngIf="formGroup.status === 'INVALID'">
        <mat-icon>info</mat-icon>
        Invalid
    </span>

    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" form="add_location_form">Add</button>
</mat-dialog-actions>