
<mat-card>
        <h1 class="display-1" style="text-align: left; color: #673ab7">Add new location</h1>
    <mat-form-field>
        <!-- *ngIf -->
        <input matInput placeholder="LocationName">
        <!-- *ngIf -->
        <input matInput placeholder="Geo">
        <!-- *ngIf -->
        <input matInput placeholder="lat">
        <input matInput placeholder="lng">
        <!-- *ngIf -->
        <input matInput placeholder="Locationda">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-select>
            <mat-option value="Imperial">Imperial</mat-option>
            <mat-option value="Metric">Metric</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <button color="primary" mat-raised-button (click)="showAnswer()">Save</button>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-card>
