<div>
    <h3 mat-dialog-title>Add Location</h3>
    <mat-dialog-content>
        <select matInput [(ngModel)] = "location.type">
            <option value="coordinates">Coordinates</option>
            <option value="zipcode">Zip Code</option>
            <option value="city_id">City ID</option>
        </select>
        <br>
        <!-- Every location has a type but not every location is given coordinates of cityId and so on -->
        <div *ngIf="select == 'coordinates'">
                <!-- so based off of it being either a coordinate, cityId or zipcode its given diffrent results using ngIf -->
            <br>
                <input placeholder="Lat" matInput required [(ngModel)]="location.lat">
            <br>
                <input placeholder="Lng" matInput required [(ngModel)]="location.lng">
            <br>
        </div>
        <div *ngIf="select == 'zipcode'">
            <br>
                <input matInput required placeholder="Zip Code" [(ngModel)]="location.zipcode">
            <br>
                <input matInput required placeholder="Country Code" [(ngModel)]="location.Country">
            <br>
        </div>
        <div *ngIf="select == 'city_id'">
            <br>
                <input matInput required placeholder="City ID" [(ngModel)]="location.city_id">
            <br>
        </div>
            <mat-dialog-actions>
                <button mat-button color="primary" (click)="add(dialogResult)">ADD</button>
                <button mat-button color="primary">CANCEL</button>
            </mat-dialog-actions>
    </mat-dialog-content>
</div>