<mat-toolbar color="primary">
<mat-toolbar-row>
    <!-- removed sidenav and combined with toolbar since toolbar wasnt in 
         use and was having trouble with sidenav not displaying correctly -->
    <h1 style="font-size: 30px">Weather Application</h1>
    <span class="spacer"></span>
    <button mat-raised-button color="primary"><a href="home">HOME</a></button>
    <button mat-raised-button color="primary"><a href="locations">LOCATIONS</a></button>
    <button mat-raised-button color="primary"><a href="settings">SETTINGS</a></button>
    <!-- toolbar layout with link buttons to go between pages -->
</mat-toolbar-row>
</mat-toolbar>
<!-- Everything above is present on every page except for the router oulet 
     which is the router sending back a component to display in that area -->
<router-outlet></router-outlet>
