<mat-toolbar color="primary">
<mat-toolbar-row>
    <!-- removed sidenav and combined with toolbar since toolbar wasnt in 
         use and was having trouble with sidenav not displaying correctly -->
    <span>Weather Application</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary"><a href="home">Home</a></button>
    <button mat-raised-button color="primary"><a href="locations">Locations</a></button>
    <button mat-raised-button color="primary"><a href="settings">Settings</a></button>
    <!-- toolbar layout with link buttons to go between pages -->
</mat-toolbar-row>
</mat-toolbar>
<!-- Everything above is present on every page except for the router oulet 
     which is the router sending back a component to display in that area -->
<router-outlet></router-outlet>
