
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

.title {
    margin-left: 15px;
    font-size: 35px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    
}

.weather {
    margin: auto;
    margin: 15px;
}



@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";


.mat-button, .mat-raised-button {
    text-transform: uppercase;
}

.actions-right {
    justify-content: flex-end;
    align-items: center;
}

.mat-form-field {
    width: 100%;
}