<h1 class="display-1" style="text-align: left; color: #673ab7">Forecasts</h1>
<!-- divs formed by other child divs containing the forecasts for one spesific location -->
    <div *ngIf="weathersSubject | async as localWeathers">
        <div *ngFor="let loc of localWeathers">
            {{loc.type}}
            <div *ngFor="let cast of loc.forecasts">
                        <mat-card style="text-align: center">
                            {{cast.dateTime}}
                            <br>
                            <!-- Gathering each image based on their condition Icon -->
                            <img style="width: 100px" mat-card-image src="http://openweathermap.org/img/w/{{cast.conditionIcon}}.png" alt="{{cast.condition}}">
                            <mat-card-actions>
                                <span>
                                    <p>Avg: {{cast.tempAvg | convertTemp}}</p>
                                    <p>Condition: {{cast.conditions}}</p>
                                </span>
                            </mat-card-actions>
                            <mat-card-footer>
                                <p>
                                    <span>Min: {{cast.tempMin | convertTemp}}</span>
                                    <span>Max: {{cast.tempMax | convertTemp}}</span>
                                </p>
                                <p>
                                    <span>Wind Speed: {{cast.windSpeed | convertWind}}</span>
                                    <span>Wind Direction: {{cast.windDirection | convertDirection}}</span>
                                    <span>{{cast.windDirection}}</span>
                                </p>
                            </mat-card-footer>
                        </mat-card>
            </div>
        </div>
    </div>