<app-view toolbarTitle="Settings" layout="center-center">
    <mat-card>
        <mat-card-header>
            <mat-icon mat-card-avatar>settings</mat-icon>
            <mat-card-title>Settings</mat-card-title>
            <mat-card-subtitle>Set your api key and unit</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="formGroup" id="settings_form" (ngSubmit)="save()" novalidate>
                <mat-form-field>
                    <input placeholder="API Key" matInput formControlName="apiKey" required>
                    <mat-hint *ngIf="formGroup.get('apiKey').status === 'PENDING'">
                        Checking Api Key...
                    </mat-hint>
                    <mat-error *ngIf="formGroup.get('apiKey').errors && formGroup.get('apiKey').errors.invalidApiKey">
                        Invalid Api Key
                    </mat-error>
                    <mat-error *ngIf="formGroup.get('apiKey').errors && formGroup.get('apiKey').errors.required">
                       Please Enter Api Key
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Unit Type" formControlName="unitType" required>
                        <mat-option value="imperial">Imperial</mat-option>
                        <mat-option value="metric">Metric</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions class="text-right">
            <button mat-button (click)="reset()">RESET</button>
            <button color="primary" mat-raised-button type="submit" form="settings_form" [disabled]="formGroup.status === 'PENDING'">SAVE</button>
        </mat-card-actions>
    </mat-card>
</app-view>
