<!-- <div class="container">
	<div*ngIf='settings.unitType=metric; then metric else imperial'>
		<ng-template #metric>
			<select name="unitType" id="unit">
				<option value="metric" selected="selected">Metric</option>
				<option value="Imperial">Imperial</option>
			</select>
		</ng-template>
		<ng-template #imperial>
			<select name="unitType" id="unit">
				<option value="metric">Metric</option>
				<option value="Imperial" selected="selected">Imperial</option>
			</select>
		</ng-template>
	</div>
</div> -->